$font: Helvetica, sans-serif;
$root-font-size: 62.5%;

$z-index-login: 10;
$z-index-notifier: 9;

$success-color: #23ee99;

$clr-brightest: #fff;
$clr-darkened: #F6F5F5;
$clr-darker: #DDDCDC;
$clr-default: #1ab2ff;
$clr-darkest: #000;

$rnd-clr-background: #F6F5F5;
$rnd-clr-1: #ff4d94;
$rnd-clr-2: #b3ffb3;
$rnd-clr-3: #ff66ff;
$rnd-clr-4: #ffad33;
$rnd-clr-5: #FAEB22;
$rnd-clr-6: #42FAC4;
